:root {
    --color-white: #FFFFFF;
    --color-white-trAB: #FFFFFFAB;
    
    --color-pink: #F5989D;
    --color-pink-trAB: #FFC4B2AB;
    --color-light-pink: #FFC4B2;
    
    --color-orange: #F69679;
    
    --color-gray: #808080;
    
}